
@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";

body {
    margin: 0;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    font-family:'Jost', sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
    cursor:alias;
  }