<div class="wrapper">
    <h1>Pflitzer</h1>

    <div class="center">
        <a href="">Home</a>
        <a href="/about">About</a>
        <a href="/feedback">Feedback</a>
    </div>

    <p-button [label]="isSignedIn() ? 'Sign Out' : 'Sign In'" [outlined]="true" (onClick)="handleClick()"></p-button>

    <div class="hamburger">
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars"></button>
    </div>
</div>
<p-toast position="top-center" key="tc"></p-toast>
