<div class="wrapper">
    <h1>Pflitzer</h1>

    <div class="center">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="/feedback">Feedback</a>
    </div>

    <div class="right" [hidden]="isSignedIn">
        <p-button label="Sign Up" [outlined]="true" (onClick)="handleClick()"></p-button>
    </div>
    <div class="right" [hidden]="!isSignedIn">
        <p-button label="Sign Out" [outlined]="true" (onClick)="handleClick()"></p-button>
    </div>

    <div class="hamburger">
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars"></button>
    </div>
</div>
<p-toast position="top-center" key="tc"></p-toast>
