.wrapper {
    margin-top: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.create-button {
    margin-top: 10px;
    position: relative;
    width: 700px;
    height: 65px;
    border-radius: 30px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    background-color: #0f0c29; 
}

.create-post {
    margin-top: 10px;
    position: relative;
    width: 700px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    background-color: #0f0c29;
    overflow: hidden;
}

.post-feed {
    margin-top: 10px;
    width: 700px;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    background-color: #0f0c29; 
}
.post-wrapper {
    border-radius: 30px;
    overflow: scroll;
    overflow-x: hidden;
    height: 75.5vh;
    margin-top: 10px;
}
.post-wrapper input {
    padding-bottom: 0;
    margin-bottom: 0;
}
.username {
    width: fit-content;
    position: relative;
    text-align:left;
    margin:0 0 0 25px;
    font-size: 14px;
}

.create-button p-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.create-button p-button, .create-post p-button {
    margin-left: 10px;
}

.form-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

input{
    border-radius: 30px;
    font-size: 40px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    background-color: #0f0c29; 
}
input:focus, textarea:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: none;
}
.post-buttons {
    margin-left: 6px;
    display: flex;
    flex-direction: row;
}
.post-buttons p {
    align-self: flex-end;
    font-size: small;
    width: fit-content;
    padding: 0;
}

textarea {
    border-radius: 30px;
    margin-left: 0.5%;
    width: 99%;
    resize: none;
    border: none;
    background-color: #0f0c29; 
}

.anderson img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    opacity: 50%;
    border-radius: 20px;
}

:host ::ng-deep .p-tabmenu {
    margin-top: 10px;
    width: 700px;
}

@media only screen and (max-width: 800px) {
    p-tabMenu, .post-feed,
    .create-button, .create-post {
        width: 95vw;
    }
}


@keyframes dropDown {
    from {
      height: 65px;
    }
    to {
      height: 300px;
    }
}

@keyframes dropUp {
    from {
        height: 300px;
    }
    to {
        height: 65px;
      }
}

.dropDown {
    animation: dropDown 0.3s ease-in;
}
.dropUp {
    animation: dropUp 0.3s ease-out;
}