<div class="wrapper">

    <div class="create-button" [hidden]="showCreatePost">
        <p-button [rounded]="true" label="Create Post" (onClick)="toggleCreatePost()"></p-button>
    </div>

    <div class="create-post" [hidden]="!showCreatePost">
        <form action="">
            <input type="text" pInputText placeholder="Title..."/>

            <textarea rows="7" cols="30" pInputTextarea placeholder="Create Post..."></textarea>

        </form>

        <p-button (onClick)="createPost()" [rounded]="true" label="Create Post"></p-button>
    </div>

    <div class="post-feed">
        <form action="">
            <input type="text" pInputText/>

            <textarea rows="7" cols="30" pInputTextarea></textarea>


        </form>
    </div>
</div>
