<div class="wrapper">

    <div class="create-button" [hidden]="showCreatePost">
        <p-button [rounded]="true" label="Create Post" (onClick)="toggleCreatePost()"></p-button>
    </div>

    <div class="create-post" [hidden]="!showCreatePost"
        [class.dropDown]="showCreatePost" [class.dropUp]="hideCreatePost">
        <form action="" [formGroup]="postForm">
            <input type="text" pInputText placeholder="Title..." formControlName="title"/>

            <textarea rows="7" cols="30" pInputTextarea placeholder="Create Post..." formControlName="body"></textarea>

        </form>

        <div class="form-buttons">
            <p-button (onClick)="deleteForm()" label="Cancel" [rounded]="true" severity="secondary"></p-button>
            <p-button (onClick)="createPost()" [rounded]="true" label="Create Post"></p-button>
        </div>
    </div>

    <div class="post-wrapper">
        <div class="post-feed" *ngFor="let existingPostForm of formGroups; let i = index" [@slideUp]>
            <form action="" [formGroup]="existingPostForm" [@slideUp]>
                <input type="text" pInputText formControlName="title" readonly/>
                <input class="username" type="text" formControlName="username" readonly>
                
                <textarea rows="7" cols="30" pInputTextarea formControlName="body" readonly></textarea>
    
    
            </form>
        </div>
    </div>
</div>

<div class="anderson">
    <img src="assets/purpleanderson.png" alt="">
</div>

<div class="ad">
    <img src="assets/advertisement.png" alt="">
</div>
<div class="ad2">
    <img src="assets/ad2.png" alt="">
</div>

