<div class="wrapper">

    <div class="create-button" [hidden]="showCreatePost">
        <p-button [rounded]="true" label="Create Post" (onClick)="toggleCreatePost()"></p-button>
    </div>

    <div class="create-post" [hidden]="!showCreatePost"
        [class.dropDown]="showCreatePost" [class.dropUp]="hideCreatePost">
        <form action="" [formGroup]="postForm">
            <input type="text" pInputText placeholder="Title..." formControlName="title" maxlength="25"/>

            <textarea rows="7" cols="30" pInputTextarea placeholder="Create Post..." formControlName="body" maxlength="400"></textarea>

        </form>

        <div class="form-buttons">
            <p-button (onClick)="deleteForm()" label="Cancel" [rounded]="true" severity="secondary"></p-button>
            <p-button (onClick)="createPost()" [rounded]="true" label="Create Post" [loading]="loading"></p-button>
        </div>
    </div>

    <div class="post-wrapper">
        <div class="post-feed" *ngFor="let existingPostForm of formGroups; let i = index" [@slideUp]>
            <form action="" [formGroup]="existingPostForm" [@slideUp]>
                <input type="text" pInputText formControlName="title" readonly/>
                <input class="username" type="text" formControlName="username" readonly>
                
                <textarea rows="7" cols="30" pInputTextarea formControlName="body" readonly></textarea>
                
                <div class="post-buttons">
                    <p-button icon="pi pi-heart" [rounded]="true" [hidden]="isLiked[i]" 
                    [text]="true" severity="help" (onClick)="postBtnClick(existingPostForm, 'like', i)"></p-button>
                    <p-button icon="pi pi-heart-fill" [rounded]="true" [hidden]="!isLiked[i]"
                    [text]="true" severity="help" (onClick)="postBtnClick(existingPostForm, 'dislike', i)"></p-button>
                    <p>{{existingPostForm.value.likeCount}}</p>

                    <p-button icon="pi pi-bookmark" [rounded]="true" [hidden]="isSaved[i]"
                    [text]="true" severity="secondary" (onClick)="postBtnClick(existingPostForm, 'save', i)"></p-button>
                    <p-button icon="pi pi-bookmark-fill" [rounded]="true" [hidden]="!isSaved[i]"
                    [text]="true" severity="secondary" (onClick)="postBtnClick(existingPostForm, 'save', i)"></p-button>

                    <p-button icon="pi pi-comments" [rounded]="true" 
                    [text]="true" severity="primary" (onClick)="postBtnClick(existingPostForm, 'comment', i)"></p-button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="anderson">
    <img src="assets/purpleanderson.png" alt="">
</div>
